@media(max-width:1700px) {
   .sec2 {
      min-height: 352px;
   }
}

@media(max-width:1100px) {
   .header__menu-item {
      padding: 0 20px;
   }
}

@media(max-height:850px) {
   .arrow-anim {
      margin-top: 50px;
   }
}

@media(max-width:860px) {
   .header__burger {
      display: block;
   }

   .header__menu-home {
      display: block;
      margin-left: auto;
   }

   .header__menu-wrapper {
      position: absolute;
      width: 100%;
      min-height: 100vh;
      padding-top: 40px;
      left: 0;
      top: 0;
      overflow: auto;
      background-color: #fff;
      transform: translateX(-100%);
      transition: all .3s ease;
   }

   .header__menu-wrapper.active {
      transform: translateX(0);
   }

   .menu-close {
      width: 20px;
      height: 20px;
      display: block;
   }

   .menu-close:after {
      content: '';
      position: absolute;
      width: 2px;
      height: 30px;
      top: 20px;
      right: 20px;
      background-color: #70718D;
      transform: rotate(-45deg);
      cursor: pointer;
   }

   .menu-close:before {
      content: '';
      position: absolute;
      width: 2px;
      height: 30px;
      top: 20px;
      right: 20px;
      transform: rotate(45deg);
      background-color: #70718D;
      cursor: pointer;
   }

   .header__menu-list {
      flex-direction: column;
      width: 100%;
   }

   .header__menu-item {
      padding: 20px 20px;
   }

   .header__inner {
      justify-content: flex-start;
   }

   .header__logo {
      padding-left: 19px;
   }

   .header__logo {
      width: 140px;
   }

   .header {
      box-shadow: 0px 1px 2px rgba(198, 202, 231, 0.35);
   }

   .sec1-title {
      font-size: 40px;
      line-height: 50px;
   }

   .sec1 {
      padding-bottom: 0;
   }

   .sec2__item-number {
      font-size: 60px;
      line-height: 70px;
   }
}

@media(max-width:590px) {
   .sec2__wrapper {
      flex-direction: column;
      align-items: flex-start;
   }

   .sec2__item {
      flex-direction: row;
      width: 100%;
      max-width: 100%;
      justify-content: flex-start;
      margin-bottom: 76px;
   }

   .sec2__item-number {
      font-size: 36px;
      line-height: 40px;
   }

   .sec2__item-icon {
      margin-right: 24px;
   }

   .sec2__item-info {
      align-items: flex-start;
   }
}

@media(max-width:500px) {
   .sec1-buttons {
      flex-direction: column;
      width: 100%;
   }

   .fast-buy,
   .login {
      margin-right: 0px;
      margin-bottom: 12px;
      width: 100%;
      max-width: 100%;
   }

   .sec1-subtitle {
      font-size: 15px;
   }

   .sec1-title {
      font-size: 28px;
      line-height: 35px;
   }

   .sec1 {
      padding: 199px 20px 40px 20px;
   }

   .sec1::before {
      width: 1500px;
      height: 1500px;
   }
   .sec1::after {
      content: url('../img/s1-bg-mobile.png');
      width: 100%;max-width: 100%;
      top: 40px;
   }

   .sec2 {
      min-height: 682px;
   }
   .sec2::after{
      display: none;
   }
}