html {
   line-height: 1.15;
   -webkit-text-size-adjust: 100%;
}

body {
   margin: 0;
}

body.lock {
   overflow: hidden;
}

html,
body {
   line-height: 1;
   font-family: Lato, "Helvetica Neue", sans-serif;
   position: relative;
}

main {
   display: block;
}

h1 {
   font-size: 2em;
   margin: 0.67em 0;
}

hr {
   box-sizing: content-box;
   height: 0;
   overflow: visible;
}

pre {
   font-family: monospace, monospace;
   font-size: 1em;
}

a {
   background-color: transparent;
}

abbr[title] {
   border-bottom: none;
   text-decoration: underline;
   text-decoration: underline dotted;
}

b,
strong {
   font-weight: bolder;
}

code,
kbd,
samp {
   font-family: monospace, monospace;
   font-size: 1em;
}

small {
   font-size: 80%;
}

sub,
sup {
   font-size: 75%;
   line-height: 0;
   position: relative;
   vertical-align: baseline;
}

sub {
   bottom: -0.25em;
}

sup {
   top: -0.5em;
}

img {
   border-style: none;
}

button,
input,
optgroup,
select,
textarea {
   font-family: inherit;
   font-size: 100%;
   line-height: 1.15;
   margin: 0;
}

button,
input {
   overflow: visible;
}

button,
select {
   text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
   -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
   border-style: none;
   padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
   outline: 1px dotted ButtonText;
}

fieldset {
   padding: 0.35em 0.75em 0.625em;
}

*/ legend {
   box-sizing: border-box;
   color: inherit;
   display: table;
   max-width: 100%;
   padding: 0;
   white-space: normal;
}

progress {
   vertical-align: baseline;
}

textarea {
   overflow: auto;
}

[type="checkbox"],
[type="radio"] {
   box-sizing: border-box;
   padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
   height: auto;
}


[type="search"] {
   -webkit-appearance: textfield;
   outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
   -webkit-appearance: none;
}

::-webkit-file-upload-button {
   -webkit-appearance: button;
   font: inherit;
}


details {
   display: block;
}

summary {
   display: list-item;
}

template {
   display: none;
}

[hidden] {
   display: none;
}

*,
*::after,
*::before {
   padding: 0;
   margin: 0;
   bottom: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
}

ul,
ol,
li {
   list-style-type: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}

.header {
   max-width: 100%;
   width: 100%;
   max-height: 80px;
   padding: 25px 0;
   position: absolute;
   top: 0;
   right: 0;
   z-index: 1;
}

.container {
   max-width: 1620px;
   width: 100%;
   margin: 0 auto;
   padding: 0 20px;
}



.header__inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__burger {
   width: 18px;
   height: 16px;
   display: none;
}

.header__burger img {
   width: 100%;
}

.header__logo {
   max-width: 200px;
}

.header__logo-img {
   width: 100%;
}

.header__menu-wrapper {}

.header__menu-list {
   display: flex;
}

.header__menu-item:last-child {
   padding-right: 0;
}

.header__menu-item {
   padding: 0 44px;
}

.header__menu-item a {
   font-style: normal;
   font-weight: bolder;
   font-size: 16px;
   line-height: 19px;
   color: #70718D;
   position: relative;
   padding: 10px 0;
   transition: all .2s ease;
}

.header__menu-item a:after {
   content: '';
   position: absolute;
   width: 110%;
   height: 2px;
   background-color: #6266EA;
   bottom: 0px;
   opacity: 0;
   transition: all .2s ease;
   left: 50%;
   transform: translateX(-50%);
}

.header__menu-item a:hover {
   color: #6266EA;
}

.header__menu-item a:hover:after {
   opacity: 1;
   bottom: 4px;
}

.menu-close,
.header__menu-home {
   display: none;
}

.sec1 {
   width: 100%;
   min-height: 100vh;
   padding: 110px 20px 40px 20px;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   position: relative;
   overflow: hidden;
}

.sec1::after {
   content: url('../img/sec1-bg.png');
   position: absolute;
   height: 100%;
   top: 130px;
   left: 0;
   z-index: -1;
   max-width: 1700px;
   width: 100%;
}

.sec1::before {
   content: '';
   position: absolute;
   width: 2617px;
   height: 2617px;
   bottom: 0;
   z-index: -1;
   background-color: #f9faff;
   border-radius: 50%;
}

.sec1-title {
   font-weight: 600;
   font-size: 64px;
   line-height: 77px;
   color: #6266EA;
   background-color: #f9faffb9;
}

.sec1-subtitle {
   font-weight: normal;
   font-size: 18px;
   line-height: 22px;
   color: #70718D;
   margin-top: 16px;
   margin-bottom: 36px;
}

.sec1-buttons {
   display: flex;
   justify-content: center;
   align-items: center;
}

.fast-buy {
   background: linear-gradient(180deg, #8562EA 0%, #4E61FB 100%);
   border-radius: 8px;
   padding: 24px 10px;
   width: 240px;
   font-weight: 600;
   font-size: 14px;
   text-transform: uppercase;
   color: #FFFFFF;
   margin-right: 10px;
   display: block;
   transition: transform .2s ease;
}

.fast-buy:hover {
   transform: translateY(-3px);
}

.login:hover {
   transform: translateY(-3px);
}

.login {
   background: #F9F8FF;
   transition: transform .2s ease;
   border-radius: 8px;
   border: 1px solid #4E61FB;
   width: 240px;
   padding: 22px 10px;
   display: block;
   font-weight: 600;
   font-size: 14px;
   line-height: 17px;
   text-transform: uppercase;
   color: #6266EA;
}

.arrow-anim {
   width: 100%;
   position: relative;
   margin-top: 140px;
   margin-bottom: 20px;
   height: 100px;
}

.arrow-down {
   position: absolute;
   right: 50%;
   transform: translateX(-50%);
   top: 0;
   animation: arrow-hover 1.5s linear infinite;
   cursor: pointer;
}



@keyframes arrow-hover {
   0% {
      top: 0;
   }

   50% {
      top: 10px;
   }

   100% {
      top: 0;
   }
}

.sec2 {
   width: 100%;
   min-height: 560px;
   padding: 30px 0;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   position: relative;
   overflow: hidden;
}

.sec2::after {
   content: url('../img/sec2-bg.png');
   top: 0;
   left: 0;
   position: absolute;
   max-width: 1700px;
   transform: rotate(12deg);
   z-index: -1;
}

.sec2__wrapper {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.sec2__item {
   max-width: 360px;
   max-height: 360px;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.sec2__item-info {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.sec2__item-icon {
   width: 84px;
   height: 84px;
   border-radius: 50%;
   background-color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   -webkit-box-shadow: 36px 34px 60px -12px rgba(34, 60, 80, 0.2);
   -moz-box-shadow: 36px 34px 60px -12px rgba(34, 60, 80, 0.2);
   box-shadow: 36px 34px 60px -12px rgba(34, 60, 80, 0.2);
}

.sec2__item-image {
   width: 100%;
   max-width: 36px;
   max-height: 36px;
}

.sec2__item-number {
   font-style: normal;
   font-weight: 800;
   font-size: 96px;
   line-height: 115px;
   color: #4E61FB;
   margin-top: 12px;
   margin-bottom: 4px;
}

.sec2__item-subtitle {
   font-size: 18px;
   line-height: 22px;
   color: #70718D;
}

.sec3 {
   width: 100%;
   padding: 87px 20px 30px 20px;
   background: linear-gradient(180deg, #FFFFFF 0%, #F5F7FF 100%);
   border-radius: 350px 350px 0px 0px;
   position: relative;
   overflow: hidden;
}

.sec3::after {
   position: absolute;
   content: url('../img/sec3-bg.png');
   transform: rotate(-15deg);
   z-index: 0;
   max-width: 1780px;
   width: 100%;
}

.sec3__inner {
   max-width: 1480px;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   margin: 0 auto;
}

.sec3__title {
   font-weight: 600;
   font-size: 48px;
   line-height: 58px;
   text-align: center;
   color: #1A1E37;
   margin-bottom: 212px;
}

.sec3__inner {}

.sec3__earning,
.sec3__promotion {
   background: rgba(255, 255, 255, 0.9);
   box-shadow: 0px 1px 2px rgba(198, 202, 231, 0.35);
   border-radius: 12px;
   max-width: 465px;
   width: 100%;
   padding: 80px 40px 60px 40px;
   position: relative;
   backdrop-filter: blur(50px);
}

.sec3__earning {
   margin-top: 160px;
   z-index: 2;
}

.sec3__earning-item-icon {
   position: absolute;
   top: -40px;
   left: 40px;
}

.sec2__item-icon {}

.sec2__item-image {}

.sec3__item-title {
   font-weight: 600;
   font-size: 24px;
   line-height: 29px;
   color: #1A1E37;
   margin-bottom: 12px;
}

.sec3__item-subtitle {
   font-size: 16px;
   line-height: 24px;
   color: #70718D;
}

.sec3__phone {
   max-height: 860px;
   height: 100%;
   position: relative;
}

.sec3__phone::before {
   content: '';
   left: 50%;
   transform: translateX(-50%);
   z-index: 0;
   top: -100px;
   position: absolute;
   width: 790px;
   height: 790px;
   border-radius: 50%;
   background: linear-gradient(180deg, #8562EA 0%, #4E61FB 100%);
}

.sec3__phone-img {
   height: 100%;
   z-index: 2;
   display: block;
   position: relative;
}

.sec3__promotion {
   margin-top: 350px;
   z-index: 2;
}

.sec3__promotion-item-icon {
   position: absolute;
   top: -40px;
   left: 40px;
}